{% extends '_layouts/content-simple.nunjucks' %}

{% set title = 'See a GP' %}

{% block main_content %}
<div class="page-section">
  <div class="reading-width">
    {% markdown %}
    ### See a GP - Lab day (16th Jan)
    * [Bacterial vaginosis](/bacterial-vaginosis/)
    * [Thrush](/thrush/)
    * [Thrush in women](/thrush-in-women/)
    * [Thrush in men](/thrush-in-men/)
    * [Vaginal discharge](/vaginal-discharge/)
    ### See a GP - Lab day (13th Feb)
    * [UTI](/uti/)
    * [Acne](/acne/)
    * [Acne (guide)](/acne-guide/things-you-can-do/)
    ### Component iteration
    * [Service pathway](/service-pathway/)
    * [Images (figure list)](/figure-list/)
    * [Cards](/cards/)
    {% endmarkdown %}
  </div>
{% endblock %}