{% extends '_layouts/content-simple.nunjucks' %}

{% set title = 'Symptoms' %}

{% block main_content %}
<div class="page-section">
  <div class="reading-width">
    {% markdown %}
    ### Pop up research -15th March 2017
    * [Earache](https://beta.nhs.uk/conditions/earache)
    * [Eye problems](https://nhsbeta.herokuapp.com/preview/4zyrnfl5Q3Xeu04MFwqz5kSMhTQ=/43/974)
    * [Fever in children](/fever-children/)
    * [Foot pain](#)
    * [Headache](https://beta.nhs.uk/symptoms/headache)
    * [Hives](https://beta.nhs.uk/conditions/hives)
    * [Lumps and swellings](https://nhsbeta-v3.herokuapp.com/preview/-AAnCxU6EZEmJ9RGsWqt85eJ4w8=/90/1020)
    * [Rashes in babies and children](https://beta.nhs.uk/symptoms/rashes-in-babies-and-children)
    * [Sore throat](https://beta.nhs.uk/conditions/sore-throat)
    * [Stomach ache](https://beta.nhs.uk/symptoms/stomach-ache)
    {% endmarkdown %}
  </div>
{% endblock %}